@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-primaryText font-sans antialiased;
}

.dark body {
  @apply bg-darkBackground text-darkPrimaryText;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease;
}


.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(120,120,120,0.4);
  border-radius: 20px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(120,120,120,0.7);
}